<div class="container mainBox">
	<div class="header">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/" style="text-align:center;width:100%;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Expense tracker</a>
          </div>
      </div>
    </div>  
	<div ng-controller="MainCtrl">
		  <ul class="mainList">
		    <li>
		      <a href="#/budget"> Budget </a>
		    </li>
		    <li>
		      <a href="#/todo"> To do </a>
		    </li>
		    <li>
		      <a href="#/reminder"> Reminder </a>
		    </li>
		  </ul>
	</div>

    <div class="footer">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6">
                 <p class="pull-left">copyright@2015</p>
              </div>        
              <div class="col-md-6 col-xs-6 col-sm-6">
                 <p class="pull-right">Expense Tracker</p>
              </div>        
          </div>

    </div>
</div>